body {
    background-color: rgb(238, 211, 176);
    color: rgb(0, 1, 3);

    font-size: 17px;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: rgb(31, 2, 250);
}

.avatar {
    width: 300px;
    border-radius: 30px;
    box-shadow: 4px 4px 14px black;
}

.info {
    margin-bottom: 20px;
}

.info p {
    color: black;
    margin: 10px;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.container {
    max-width: 750px;
    margin: auto;
}

.bg-aqua {
    background-color: aqua;
}

.bg-yellow {
    background-color: rgb(244, 244, 172);
}

.bg-white {
    background-color: rgb(232, 222, 83);
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card {
    margin-bottom: 10px;
}

.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 5px;
}

.lost {
    padding: 0 20px;
}

.lost li {
    margin-bottom: 5px;
}

.lust {
    padding: 0 20px;
}

.lust li {
    margin-bottom: 5px;
}

.social {
    padding: 10px;
}